/* linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgb(117, 187, 56) 100%) neuronoid logo green */
@font-face {
    font-family: 'Chrobot Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Chrobot Regular'), url('Chrobot.woff') format('woff');
    }
  body {
    /* font-family: sans-serif; */

    /* font-family: Chrobot Regular ; */
     /* font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 2em;
    color: rgb(0, 0, 0)  */
    /* color: #fff !important;
    background: rgb(23, 31, 22) */
}
.btn-secondary {
    background-color: #6c7a74!important;
    color: #fff;
}
.br-90{
    border-radius: 90px;
}
.cus-grad{
    background: #75cd6f;
    background: -moz-linear-gradient(left, rgba(175, 219, 37, 1) 15%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(left top, right top, color-stop(15%, rgba(175, 219, 37, 1)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(left, rgba(175, 219, 37, 1) 15%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(left, rgba(175, 219, 37, 1) 15%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(left, rgba(175, 219, 37, 1) 15%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to left, rgba(175, 219, 37, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cd6f', endColorstr='#46c894', GradientType=1);
    color: #fff
}
.future-services img{
      width: 200px
}
.headings{
    color: #a1c922;
}
.owl-carousel4 .item .clients-box{
    text-align: center;
   height: 150px    ;
}
/* map */
.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
/* map end */

#loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999
}

#loading img {
    width: 150px
}
.btn-secondary.dropdown-toggle:focus, .btn-secondary.dropdown-toggle:hover {
    background-color: #639836!important;
    color: #fff
}
.btn-neuro{
    background: #71b93a;
    color: #fff;
}
/* header */
a.nav-link.active{
    background: #aace37 !important;
}
li.nav-item {
    margin: 0px 10px 0px 0px;
}
header {
    position: absolute;
    display: inline-block;
    width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

header a.navbar-brand img {
    height: 80px
}

header {
    position: absolute;
    width: 100%;
    z-index: 99
}

header .main-header {
    padding: 0px 50px 0px 90px;
}

header .sub-header {
    padding: 10px 90px;
    border-bottom: 1px solid #c7eedf
}

header .navbar-light {
    padding: 0
}

header .sub-header nav {
    display: flex
}

header .sub-header .request-btn a {
    background: #6ecc74;
    padding: 17px;
    margin-left: 29px;
    color: #fff
}

header .sub-header .request-btn a:hover {
    background: #46c894;
    color: #fff
}

header .btn-group .btn-secondary {
    background-color: transparent;
    color: #222;
    border: none
}

header .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):hover, .show>.btn-secondary.dropdown-toggle {
    background-color: transparent;
    border-color: transparent;
    color: #46c894
}

header .btn-secondary.focus, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none
}

header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .nav-link:focus {
    color: #222;
    font-size: 16px;
    margin-right: 1px;
    padding: 5px 20px;
    line-height:2;
    border-radius: 90px
}

header .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0
}

header .breadcrumb .breadcrumb-item a {
    color: #222;
    font-size: 16px
}

header .breadcrumb .breadcrumb-item a:hover {
    color: #46c894
}

.navbar-light .navbar-nav .show>.nav-link {
    color: #fff
}

header .navbar-light .navbar-nav li.active .nav-link, header .navbar-light .navbar-nav li .nav-link:hover {
    background: #75cd6f;
    background: -moz-linear-gradient(left, rgba(175, 219, 37, 1) 15%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(left top, right top, color-stop(15%, rgba(175, 219, 37, 1)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(left, rgba(175, 219, 37, 1) 15%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(left, rgba(175, 219, 37, 1) 15%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(left, rgba(175, 219, 37, 1) 15%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to left, rgba(175, 219, 37, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cd6f', endColorstr='#46c894', GradientType=1);
    color: #fff
}
/* rgb(116, 186, 56) 15%, rgba(0, 0, 0, 0.8) 100%); */
.dropdown-item:active, .dropdown-item:hover {
    background: #fff;
    color: #76cd6f
}
/* rgba(175, 219, 37, 1) old green */
header.menu-sticky {
    background: #212121!important;
    /* background: #75cd6f;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(175, 219, 37, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75cd6f', endColorstr='#46c894', GradientType=1); */
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 99
}

header.menu-sticky .navbar.navbar-light .navbar-brand img {
    height: 50px
}
header.menu-sticky .navbar-light .navbar-nav .nav-link{
    color: #fff !important
}
header.menu-sticky .navbar-light .navbar-nav .nav-link:hover{
    color: #000 !important
}
header.menu-sticky .navbar-light .navbar-nav li.active .nav-link, header.menu-sticky .navbar-light .navbar-nav li .nav-link:hover {
    background: #fff;
    color: #46c894
}

header.menu-sticky .navbar-light .navbar-nav .nav-link, header.menu-sticky .navbar-light .navbar-nav .nav-link:focus {
    color: #fff
}
 .navbar-nav .nav-item.active>.nav-link:hover a{
    color:#fff !important
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.nav-item.active>.nav-link{
    color: #fff !important
}
header.menu-sticky .main-header {
    padding: 0px 90px
}

header.menu-sticky .sub-header {
    display: none
}

header a.navbar-brand .logo-white {
    display: none
}

header.menu-sticky a.navbar-brand .logo {
    display: none
}

header.menu-sticky a.navbar-brand .logo-white {
    opacity: 1;
    display: block
}

header .navbar-toggler:not(:disabled):not(.disabled) {
    background: #fff
}

.dropdown-item.active, .dropdown-item:active {
    color: #46c894;
    background-color: transparent
}
.navbar { box-shadow: none !important; } 
.btn-secondary.dropdown-toggle {
    background-color: #fff!important;
}
/* header */
/* banner */
.banner {
    padding: 200px 90px 65px;
    position: relative;
    overflow: hidden
}

.button-banner:hover, .button-banner:focus {
    background-color: #fff
}

.banner .banner-text {
    padding-top: 15%;
    position: relative
}

.neu-video {
    border: 1px solid #46c894;
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 29px;
    color: #46c894;
    border-radius: 100%;
    line-height: 1.6;
    margin-left: 20px;
    background-color: #fff
}

.neu-video i {
    margin-left: 5px
}

.banner:before {
    content: '';
    position: absolute;
    background: url(../img/banner/shapg.png);
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    left: 0;
    top: 41%;
    -webkit-animation: bounce 2s infinite alternate
}

@keyframes bounce {
    from {
        transform: translateY(0px)
    }
    to {
        transform: translateY(-25px)
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px)
    }
    to {
        transform: translateY(-25px)
    }
}

.banner-type:before {
    content: '';
    position: absolute;
    background: url(../img/banner/banner-shap.png);
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    right: -63%;
    top: -30%;
    -webkit-animation: bounce 2s infinite alternate
}

.list-style li {
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    font-size: 16px
}

.list-style li:last-child {
    margin-bottom: 0
}

.list-style li i {
    margin-right: 10px;
    font-size: 18px
}

.easy-btn {
    padding: 10px 70px
}
/* banner end */
/* services */
.services-block {
    position: relative
}

.services-block:before {
    background: #46c894;
    content: "";
    height: 85%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1
}

.services-bg {
    padding-top: 80px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(108, 99, 255, .2);
    -moz-box-shadow: 0 0 30px 0 rgba(108, 99, 255, .2);
    box-shadow: 0 0 30px 0 rgba(108, 99, 255, .2)
}

.future-services {
    top: 0;
    padding: 30px;
    position: relative;
    transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out
}

.future-services:hover {
    top: -8px;
    box-shadow: 0 1px 30px 0 rgba(70, 200, 148, .25);
    background: #fff
}

.services-list {
    margin: 0 0 -120px;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%
}

.services-list li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left
}

.services-list li.one {
    position: absolute;
    left: 30px;
    bottom: 0
}

.services-list li.two {
    position: absolute;
    right: 100px;
    bottom: 0
}
/* services end */
/* floating images */
.left-shap {
    position: relative;
    overflow: hidden
}
.left-shap:before {
    content: '';
    position: absolute;
    background: url(../img/banner/shapg.png);
    width: 70%;
    height: 70%;
    background-repeat: no-repeat;
    left: 0;
    top: 41%;
    -webkit-animation: bounce 2s infinite alternate
}

.conection-shap {
    position: relative;
    overflow: hidden
}

.conection-shap:before {
    content: '';
    position: absolute;
    background: url(../img/banner/conection-shap.png);
    width: 21%;
    height: 60%;
    background-repeat: no-repeat;
    right: 0;
    top: 41%;
    -webkit-animation: bounce 2s infinite alternate
}
.ba-shap {
    position: relative;
    overflow: hidden
}

.ba-shap:before {
    content: '';
    position: absolute;
    background: url(../img/banner/finding-shap.png);
    width: 38%;
    height: 83%;
    background-repeat: no-repeat;
    left: 0;
    top: 25%;
    left: -47px;
    -webkit-animation: bounce 2s infinite alternate
}
/* blog styles */
.blog-box .content {
    background: #3fb384;
    padding: 30px;
    position: relative;
    height: 90%;
}

.blog-box .content:after {
    position: absolute;
    right: -15px;
    top: 40px;
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #e8f8f2;
    border-bottom: 10px solid transparent;
    z-index: 9
}

.blog-box .content h3 {
    line-height: 30px
}

.blog-box .content ul {
    font-family: josefin sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    z-index: 9
}

.blog-box .content ul li {
    list-style-type: none;
    display: inline;
    padding-right: 8px;
    border-right: 1px solid #dcdcdc;
    margin-right: 7px;
    color: #222;
     
}
.blog-box .content h5{
    font-weight: 500;
}
.blog-box .content p{
    font-weight: 400;
}

.blog-box .content ul li:last-child {
    border: none
}

.blog-box .content ul li a {
    font-weight: 400;
    color: #666
}

.blog-box .content ul li a:hover {
    color: #46c894
}

.blog-box .content ul li span {
    font-weight: 700;
    color: #222
}

.blog-box .content p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.blog-box ul.iq-tag li {
    border: none;
    padding: 0;
    margin: 0
}

.blog-box ul.iq-tag li a {
    background: #fff;
    color: #666;
    padding: 5px 15px;
    border-radius: 5px
}

.blog-box ul.iq-tag li a:hover {
    color: #46c894
}

.blog-box .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap
}

.blog-box [class*=col-] {
    background-color: #297557
}

.neu-blog .owl-carousel .owl-dots {
    display: none
}
.aply-a, 
.aply-a:hover{
    background: #71b93a;
    border-radius: 22px;
    color: #ffffff;
    padding: 10px;
}

/*blog end */
/* clients */
.clients-box {
    padding: 20px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    top: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.clients-box:hover {
    border: 1px solid #fff;
    background: white;
    top: -6px;
    -webkit-box-shadow: 0 10px 46px -4px rgba(70, 200, 148, .5);
    -moz-box-shadow: 0 10px 46px -4px rgba(70, 200, 148, .5);
    box-shadow: 0 10px 46px -4px rgba(70, 200, 148, .5)
}

.iq-clients .owl-carousel .owl-item {
    padding: 10px 10px 20px
}

.iq-clients .owl-carousel .owl-item img {
    width: inherit;
    display: inherit
}
/* footer */
footer.main-bg {
    position: relative
}

footer .footer-logo img {
    height: 60px
}

footer .social-icone ul li a {
    font-size: 18px;
    color: #fff
}

footer .social-icone ul li {
    padding-right: 20px
}

footer .row.justify-content-between a:hover, footer .row.justify-content-between a:focus {
    /* color: rgba(0, 0, 0, .5) */
}

footer .footer-menu li a {
    color: #fff;
    font-size: 18px
}

footer .footer-menu li a:hover, footer .footer-menu li a:focus {
    color: rgba(0, 0, 0, .5)
}

footer .social-icone ul li:nth-last-child(1) {
    padding-right: 0
}
.footer-gra{
        background: #75cd6f;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(175, 219, 37, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 40%, rgba(175, 219, 37, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75cd6f', endColorstr='#46c894', GradientType=1);
    /* background: #75cd6f;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(175, 219, 37, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75cd6f', endColorstr='#46c894', GradientType=1); */
}
/* footer end */



/* typography */
a {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus {
    text-decoration: none!important
}

a:focus, a:hover {
    color: #46c894;
    text-decoration: none!important
}

a, button {
    outline: medium!important;
    color: #46c894
}
.title-box {
    margin-bottom: 75px;
    text-align: center
}

.title-box .title {
    margin-bottom: 5px
}

.title-box .sub-title {
    margin: 0 150px
}
.main-bg {
    background: #75cd6f;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(175, 219, 37, 1)));
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(175, 219, 37, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75cd6f', endColorstr='#46c894', GradientType=1);
}
.owl-nav{
    display: none
}
#back-to-top .top {
    z-index: 999;
    position: absolute;
    margin: 0;
    color: #fff;
    bottom: 1%;
    right: 1%;
    z-index: 9;
    font-weight: 600;
    overflow: hidden;
}
/* fixed button */
#feedback {
	height: 0px;
	width: 85px;
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#feedback a {
	display: block;
	background:#aace37;
	height: 52px;
	padding-top: 10px;
	width: 155px;
	text-align: center;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
}
#feedback a:hover {
	background:#aace37;
}

@media (min-width: 576px){
    .cus-model .modal-dialog {
    max-width: 500px;
    margin: 0rem auto;
  
    float: right;
    height: 100%;

}
.cus-model .modal-content{
    height: 100%;
}
.cus-model{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
}
.cus-model .text-md-left{
    text-align: right !important;
}
/* .modal-dialog {
    max-width: 500px;
    margin: 0rem auto;
  
    float: right;
    height: 100% !important;
} */
